<section class="shop-teams">
  <div class="shop-teams__group"> 
    {% if section.settings.title_1 %}
      <h2 class="shop-teams__title">{{ section.settings.title_1 }}</h2>
    {% endif %}
    <ul class="shop-teams__list">
      {% for block in section.blocks %}
        {% if block.type == 'club' %}
          <li {% render 'lazy-background-image', image: block.settings.image, img_classes: 'shop-teams__list-item' %}> 
            {% if block.settings.url != blank %}
              <a href="{{ block.settings.url }}" class="shop-teams__link"></a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="shop-teams__group"> 
    {% if section.settings.title_2 %}
      <h2 class="shop-teams__title">{{ section.settings.title_2 }}</h2>
    {% endif %}
    <ul class="shop-teams__list">
      {% for block in section.blocks %}
        {% if block.type == 'national' %}
        <li {% render 'lazy-background-image', image: block.settings.image, img_classes: 'shop-teams__list-item' %}> 
          {% if block.settings.url != blank %}
            <a href="{{ block.settings.url }}" class="shop-teams__link"></a>
          {% endif %}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
  {
    "name": "Shop By Team",
    "settings": [
      {
        "type": "text",
        "id": "title_1",
        "label": "Title 1"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Title 2"
      }
    ],
    "blocks": [
      {
        "type": "club",
        "name": "Club Team",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Team Logo"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      },
      {
        "type": "national",
        "name": "National Team",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Team Logo"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Shop By Team",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}