@media (min-width: 750px){
    .collection-gallery .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 20px; /* Adjust as needed for spacing between items */
      padding: 30px 0;
    }

    .collection-gallery .item img {
      height: 100%;
      object-fit: cover;
    }

    .collection-gallery .item:first-child {
      grid-column: 1;
      grid-row: span 2; /* Occupies 2 rows */
    }

    .collection-gallery .item:nth-child(2) {
      grid-column: 1;
      grid-row: 3; /* Occupies 1 row */
    }

    .collection-gallery .item:nth-child(3) {
      grid-column: 2;
      grid-row: 1; /* Occupies 1 row */
    }

    .collection-gallery .item:nth-child(4) {
      grid-column: 2;
      grid-row: span 2; /* Occupies 2 rows */
    }
  }
  @media (max-width: 750px){
    .collection-gallery .container{
      padding: 0;
    }
    .collection-gallery .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px; /* Adjust as needed for spacing between items */
      padding: 20px 0;
    }
    .collection-gallery .item:nth-child(2) {
      order: 3;
    }
  }